<header>
    <h1>ITIS3135 - Web-Based Design and Development</h1>
    <h2>Nik Turner || Nasty Toad</h2>
</header>
<nav>
    <ul>
        <li><a href="index.html">Home</a></li> 
        <li><a href="introduction.html">Introduction</a></li> 
        <li><a href="contract.html">Contract</a></li> 
        <li><a href="website_evaluations.html">Website Evaluations</a></li>
        <li><a href="stuff\Bad Page🍆.htm">Crappy Page</a></li>
        <li><a href="../nasty-toads-soaps/index.html" target="_blank">Whimsical Company Site</a></li>
        <li><a href="hobby/index.html" target="_blank">Hobby</a></li>
    </ul>
</nav>